<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-flatly.min.css">

        <link rel="stylesheet" href="/stylesheets/style.css"/>

        {% block styles %}
        {% endblock %}

        <title>{{ title }}</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <script src="/assets/jquery/jquery.min.js"></script>
        <script src="/assets/bootstrap/bootstrap.min.js"></script>
    </body>
</html>
