<div>
    <p>Hi {{ username }},</p>

    <p>You are receiving this because you (or someone else) has changed the password of your '{{ username }}' "Express Boilerplate" user account.</p>

    <p>If this was you, you can safely ignore this email.</p>

    <p>If not, please reply to this message, or email <a href="mailto:testing@kirinami.com">testing@kirinami.com</a>.</p>
</div>
