<div>
    <h4>Hi there!</h4>

    <p>You’re receiving this because you (or someone else) signed up for an "Express Boilerplate" user account with the username '{{ username }}'.</p>
    <p>To confirm that this address is yours, please paste it code into form:</p>

    <br>

    <span style="padding: 10px 20px; color: #ffffff; background-color: #1a242f;"><strong>{{ code }}</strong></span>

    <br>

    <p>The code will expire in one week.</p>

    <br>

    <p>
        If you think you received this in error, you can safely ignore it.
        If you have any other questions, just reply to this message or send an email to <a href="mailto:testing@kirinami.com">testing@kirinami.com</a>.
    </p>
</div>
