<div>
    <p>You are receiving this because you (or someone else) requested the reset of the '{{ username }}' "Express Boilerplate" user account.</p>
    <p>Please paste this code into form to complete the process:</p>

    <br>

    <span style="padding: 10px 20px; color: #ffffff; background-color: #1a242f;"><strong>{{ code }}</strong></span>

    <br>

    <p>The code will expire in one week.</p>

    <br>

    <p>
        If you think you received this in error, you can safely ignore it.
        If you have any other questions, just reply to this message or send an email to <a href="mailto:testing@kirinami.com">testing@kirinami.com</a>.
    </p>
</div>
